<br>
<br>

<div class="container">
  <h1>Log In to SkyRoom</h1>

  <% if @user && @user.errors.present? %>
    <ul>
      <% @user.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>

  <%= simple_form_for :login do |f| %>

    <div>
      <%= f.input :email %>
    </div>

    <div>
      <%= f.input :password %>
    </div>

    <div>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>

   <% end %>

  <%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in" %>

</div>