

<div class="container">
  <div class="login">
    <h1>Log In to SkyRoom</h1>

    <%= simple_form_for :login do |f| %>

      <%= f.input :email %>
   
      <%= f.input :password %>

      <%= f.button :submit, class: "btn btn-primary" %>
     
    <% end %>

    <%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in" %>

  </div>
</div>