<br>
<br>
<br>
<br>

<div class="container">
	

		Listed By: <%= @listing.user.username %><br>
		
		<% @listingphotos.each do |img| %>
		<%= image_tag img.photo_url(:display) %><% end %><br>
		<div>Listing Name: <%= @listing.listing_name %><%= link_to "Book Now", {:controller => 'bookings', :action =>'new', :listing_id => @listing.id}, class: "btn btn-primary" %></div><br>
		Home Type: <%= @listing.home_type %><br>
		Accomodates: <%= @listing.accomodates %><br>
		No of Rooms: <%= @listing.no_of_rooms %><br>
		Smoking: <%= @listing.smoking %><br>
		Price: USD<%= @listing.price %><br>
		Description: <%= @listing.description %><br>
		Street Address: <%= @listing.street_address %><br>
		Country: <%= @listing.country %><br>
		City: <%= @listing.city %><br>
		State: <%= @listing.state %><br>

	<% if current_user == @user %>
		<div class="btn-toolbar">
		<%= button_to "Edit", edit_listing_path, :action => 'update' %>
		<%= button_to "Delete", {:controller => "listings", :action => 'destroy', :id => @listing.id}, :confirm => "Are you sure you want to delete #{@listing.listing_name}?", :method => :delete %>
		</div>
	<% end %>
</div>


<br>
<br>
<br>




