<br>
<br>

<div class="container">
	<h1><%= @user.username %> PROFILE</h1>
	<% if @user.fbpic %>
		<%= image_tag @user.fbpic %>
	<% else %>
		<%= image_tag @user.avatar_url(:display) %>
	<% end %>

	<%= link_to "My listing", listings_path %>
	<button> My bookings </button>
<div class="container">

<%= link_to "Edit My Profile", edit_user_path %>

<div>
	<% bookings = current_user.bookings %>
	<% bookings.each do |b| %>
		<%= b.listing.listing_name %> : 
		Check In Date: <%= b.checkin %>
		Check Out Date: <%= b.checkout %><br/>
	<% end %>
</div>
<!--
<script>
	var url = '<%= user_url(@user) %>'
  if(window.opener) {
   
    window.close()

    window.opener.location= url;
  }
</script>