<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="" content="SkyRoom">
    <meta name="Langit" content="">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <title>SkyRoom</title>
</head>

<body>

<header>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("backpack.jpg") %>
          <div class="carousel-caption">
            <button>How This Work</button>
          </div>
        </div>
        <div class="item">
          <%= image_tag("cookieroom.jpg") %>
          <div class="carousel-caption">
            <button>Book Now</button>
          </div>
        </div>
        ...
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        
        <span class="sr-only">Next</span>
      </a>
    </div>

  </header>

  <nav class="navbar transparent navbar-inverse navbar-static-top hr">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expended="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" style="color:white" href="#">Skyhome<span class="glyphicon glyphicon-home"></span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav pull-right">
          <li><a href="#">Be A Host</a></li>  
          <% if current_user.nil? %>    
            <li><%= link_to new_signup_path do %>
            <span class="glyphicon glyphicon-user"></span>Sign Up
            <% end %></li>
            <li><%= link_to new_login_path do %>
            <span class="glyphicon glyphicon-log-in"></span>Log In
            <% end %></li>   
          <% end %>
          <% if current_user %>        
            <li><%= link_to logout_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span>Log Out<% end %></li>
            <li><%= link_to current_user.username, user_path(current_user.id) %></li> 
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

      <% flash.each do |k, v| %>
        <p><%= "#{k}: #{v}" %></p>
      <% end %>

 

    	<% if session[:user_id] %>
    		<%= link_to "Logout", logout_path, method: :delete %>
    	<% end %>

  <footer>
    <div id="footer">
      <ul>
        <li>About Us</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Contact Us</li>
        <li>Signup for newsletter</li>
      </ul>
    </div>
  </footer>

</body>

</html>
